server/flows_SuperDataBase001.json
[{"id":"b46ad2e6.8db39","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6c8ed60b.239c48","type":"tab","label":"ssl test","disabled":false,"info":""},{"id":"be578a84.1bc188","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4e5f5625.2d0278","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7f5d32fd.e690bc","type":"tab","label":"server_identify","disabled":false,"info":""},{"id":"ced4f10c.63353","type":"mqtt-broker","z":"","name":"209.97.173.222","broker":"209.97.173.222","port":"8883","tls":"10e15631.ce00ea","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7654e0d.03fc1","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"bb9877d6.af02c8","type":"ui_tab","z":"","name":"Generate Keys Login","icon":"SPS","order":2,"disabled":false,"hidden":false},{"id":"65fdbdcb.e85e84","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"10e15631.ce00ea","type":"tls-config","z":"","name":"209.97.173.222","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"209.97.173.222","verifyservercert":false},{"id":"b93e0c39.5bd04","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"8883","tls":"10e15631.ce00ea","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9eac835c.e5e0e","type":"ui_group","z":"","name":"Generate Keypairs","tab":"bb9877d6.af02c8","order":1,"disp":true,"width":"10","collapse":true},{"id":"ac5c94fd.609458","type":"ui_tab","z":"","name":"Identify Supply Chain System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f63ed56d.d591f8","type":"ui_group","z":"","name":"Packet Details","tab":"ac5c94fd.609458","disp":true,"width":"10","collapse":false},{"id":"ffc23883.858a48","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5c2461f.1cf038","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"synch_input","qos":"2","broker":"ced4f10c.63353","x":310,"y":200,"wires":[["bbb2fec8.c12ff"]]},{"id":"bbb2fec8.c12ff","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":470,"y":200,"wires":[["e21e6c03.2f1d9","db9eda2f.1a5dc8"]]},{"id":"12f68902.03ba97","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"synch_output","qos":"","retain":"","broker":"ced4f10c.63353","x":1220,"y":200,"wires":[]},{"id":"86d8cd95.b0c68","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":870,"y":200,"wires":[["e8228500.543d58"]]},{"id":"e21e6c03.2f1d9","type":"function","z":"b46ad2e6.8db39","name":"update database","func":"msg.packet = msg.payload\nquery = \"UPDATE `server_dht` SET `ip_server` = '\" + msg.payload.ip_server + \"' WHERE `id_server` = '\" + msg.payload.id_server + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["86d8cd95.b0c68"]]},{"id":"e8228500.543d58","type":"function","z":"b46ad2e6.8db39","name":"broadcast","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":200,"wires":[["12f68902.03ba97"]]},{"id":"e8d54939.82be98","type":"http in","z":"b46ad2e6.8db39","name":"","url":"/elefos/api","method":"get","upload":false,"swaggerDoc":"","x":320,"y":340,"wires":[["ca2d0e92.af208"]]},{"id":"a53d3db8.de1ad","type":"http response","z":"b46ad2e6.8db39","name":"","x":890,"y":340,"wires":[]},{"id":"7c016fc.3cbff9","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":400,"wires":[]},{"id":"ca2d0e92.af208","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":340,"wires":[["5a8139aa.a32998"]]},{"id":"5a8139aa.a32998","type":"function","z":"b46ad2e6.8db39","name":"","func":"msg.payload = \"day day la so\" + msg.payload.request\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["7c016fc.3cbff9","a53d3db8.de1ad"]]},{"id":"5152462a.d829a8","type":"inject","z":"b46ad2e6.8db39","name":"","topic":"1","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":400,"wires":[["d16e6945.51d418"]]},{"id":"d16e6945.51d418","type":"http request","z":"b46ad2e6.8db39","name":"","method":"GET","ret":"txt","url":"http://128.199.236.138:1880/elefos/api?request={{{topic}}}","tls":"","x":470,"y":400,"wires":[["b5448c49.729aa"]]},{"id":"b5448c49.729aa","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":400,"wires":[]},{"id":"d7ff9b37.1858f8","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"lookup","qos":"2","broker":"ced4f10c.63353","x":290,"y":80,"wires":[["c8594db3.5c6e1"]]},{"id":"c8594db3.5c6e1","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":440,"y":80,"wires":[["99958a40.8e2b38"]]},{"id":"99958a40.8e2b38","type":"function","z":"b46ad2e6.8db39","name":"lookup ip with id","func":"msg.packet = msg.payload\nvar out = \"Select ip_server FROM server_dht WHERE id_server = '\" + msg.packet.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["ab834743.66fd08"]]},{"id":"ab834743.66fd08","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":780,"y":80,"wires":[["d00730b5.ecd92","42427afa.609f34"]]},{"id":"d00730b5.ecd92","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":120,"wires":[]},{"id":"d2fe127d.5d0c1","type":"function","z":"b46ad2e6.8db39","name":"new packet","func":"msg.payload = {\n    \"from\" : msg.packet.from,\n    \"to\" : msg.packet.to,\n    \"request\" : 0,\n    \"ip_server\": msg.payload[0]['ip_server'],\n    \"content\" : msg.packet.content\n}\nmsg.topic = msg.packet.from\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":80,"wires":[["98e769c1.65e148"]]},{"id":"98e769c1.65e148","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1210,"y":80,"wires":[]},{"id":"7b9b9ba6.d55fb4","type":"comment","z":"b46ad2e6.8db39","name":"api cho cac node tai /elefos/api?request=","info":"","x":400,"y":300,"wires":[]},{"id":"c7af9a21.7f1e48","type":"comment","z":"b46ad2e6.8db39","name":"update new ip from node","info":"","x":350,"y":160,"wires":[]},{"id":"362e60f0.11708","type":"comment","z":"b46ad2e6.8db39","name":"lookup ip from node","info":"","x":330,"y":40,"wires":[]},{"id":"42427afa.609f34","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":80,"wires":[["d2fe127d.5d0c1"],["6f603e7d.d8131"]]},{"id":"6f603e7d.d8131","type":"function","z":"b46ad2e6.8db39","name":"new packet","func":"msg.payload = {\n    \"from\" : msg.packet.from,\n    \"to\" : msg.packet.to,\n    \"request\" : 0,\n    \"ip_server\": null,\n    \"content\" : msg.packet.content\n}\nmsg.topic = msg.packet.from\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":120,"wires":[["98e769c1.65e148"]]},{"id":"db9eda2f.1a5dc8","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"6cf17a56.ccab94","type":"comment","z":"b46ad2e6.8db39","name":"khong can check vi device da check","info":"","x":1480,"y":200,"wires":[]},{"id":"a92c6a60.5dfde8","type":"function","z":"b46ad2e6.8db39","name":"lookup ip with id","func":"msg.packet_id = msg.packet.list[msg.packet_length]['id_server']\nmsg.packet_ip = msg.packet.list[msg.packet_length]['ip_server']\nvar out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.packet_id +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":660,"wires":[["bdaef147.4174b"]]},{"id":"b7fd05b2.2605c8","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":350,"y":660,"wires":[["1fdb3a72.0188b6","e93d1140.ed084"]]},{"id":"bdaef147.4174b","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":910,"y":660,"wires":[["ba7add16.63f4a","27f5592c.0f2446"]]},{"id":"8cdb030d.850af","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"synch_list","qos":"2","broker":"ced4f10c.63353","x":160,"y":660,"wires":[["b7fd05b2.2605c8"]]},{"id":"ba7add16.63f4a","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload[0]['ip_server']","propertyType":"msg","rules":[{"t":"neq","v":"packet_ip","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":660,"wires":[["674042a4.5bcf3c","4405097f.9814b8"]]},{"id":"674042a4.5bcf3c","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":620,"wires":[]},{"id":"4405097f.9814b8","type":"function","z":"b46ad2e6.8db39","name":"single","func":"msg.payload = {\n    \"id_server\": msg.payload[0]['id_server'],\n    \"ip_server\": msg.payload[0]['ip_server'],\n    \"status\" : 0\n}\nmsg.topic = msg.packet.id_server + \"_check\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":660,"wires":[["7e6fff03.03f98","a8b8d4cc.1a4c98"]]},{"id":"7e6fff03.03f98","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1470,"y":660,"wires":[]},{"id":"6c39a715.84a598","type":"comment","z":"b46ad2e6.8db39","name":"check vi chi nhung dua bi thay doi moi dc qua","info":"","x":1170,"y":560,"wires":[]},{"id":"1fdb3a72.0188b6","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":620,"wires":[]},{"id":"e93d1140.ed084","type":"function","z":"b46ad2e6.8db39","name":"length msg json","func":"msg.packet = msg.payload\nmsg.packet_length = msg.packet.list.length - 1\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":660,"wires":[["a92c6a60.5dfde8"]]},{"id":"27f5592c.0f2446","type":"function","z":"b46ad2e6.8db39","name":"length --","func":"msg.packet_length--\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["83132eb.d9874d"]]},{"id":"83132eb.d9874d","type":"switch","z":"b46ad2e6.8db39","name":"","property":"packet_length","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":540,"wires":[["a92c6a60.5dfde8"]]},{"id":"680f3a5e.052ab4","type":"function","z":"b46ad2e6.8db39","name":"reload","func":"msg.payload ={}\nmsg.topic = msg.packet.id_server + \"_reload\"\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":600,"wires":[["b860b91e.991f08"]]},{"id":"b860b91e.991f08","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1690,"y":600,"wires":[]},{"id":"a8b8d4cc.1a4c98","type":"delay","z":"b46ad2e6.8db39","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":600,"wires":[["680f3a5e.052ab4"]]},{"id":"ab2c2b48.5bb848","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":450,"y":760,"wires":[["74587942.8a57c8","82194765.2e1ae8"]]},{"id":"74587942.8a57c8","type":"function","z":"b46ad2e6.8db39","name":"check register new device","func":"msg.flag = 0\nif (msg.payload.id_server == \"elefos_register\" && msg.payload.oauth_register == \"BAAAE2B5AF39EEDA0431058E4759DA0B\" && msg.payload.id_mac !== null)\n    msg.flag = 1\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":760,"wires":[["3febdfdb.693a9"]]},{"id":"3febdfdb.693a9","type":"switch","z":"b46ad2e6.8db39","name":"","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":760,"wires":[[],["968be5cf.189638"]]},{"id":"8e7d5145.3fad4","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"elefos_register","qos":"2","broker":"ced4f10c.63353","x":310,"y":760,"wires":[["ab2c2b48.5bb848"]]},{"id":"f6f6503b.6e01b","type":"digest","z":"b46ad2e6.8db39","name":"","algorithm":"MD5","x":1150,"y":760,"wires":[["834d1cc1.0f12a","947a7c78.b1c36"]]},{"id":"968be5cf.189638","type":"function","z":"b46ad2e6.8db39","name":"copy packet","func":"msg.mqtt_out = msg.payload.id_mac\nmsg.payload = msg.payload.id_mac\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":760,"wires":[["f6f6503b.6e01b"]]},{"id":"834d1cc1.0f12a","type":"function","z":"b46ad2e6.8db39","name":"get last device","func":"msg.packet = {\n    \"oauth_server\" : msg.payload\n}\nvar out = \"Select unit FROM server_dht ORDER BY unit DESC limit 1\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":760,"wires":[["e2656999.a90d98"]]},{"id":"e2656999.a90d98","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":1490,"y":760,"wires":[["a0d8ee31.514c3","bcfc5d0f.c935a"]]},{"id":"947a7c78.b1c36","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1380,"y":900,"wires":[]},{"id":"a0d8ee31.514c3","type":"function","z":"b46ad2e6.8db39","name":"add packet, insert new device","func":"\nid_part = \"p2p_elefos00\"\nvar unit = msg.payload[0]['unit'] + 1 // tang 1 cho device ke tiep\nmsg.packet.id_server = id_part + unit\nquery = \"INSERT INTO `server_dht` (`id_server`, `oauth_server`) VALUES (?,?)\";\nmsg.payload = [msg.packet.id_server, msg.packet.oauth_server];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":760,"wires":[["99703657.2b5568"]]},{"id":"99703657.2b5568","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":1970,"y":760,"wires":[["55c7f51b.9b9fbc"]]},{"id":"3b7f7b4d.fe54c4","type":"function","z":"b46ad2e6.8db39","name":"sent packet","func":"msg.payload = msg.packet\nmsg.topic = msg.mqtt_out\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":760,"wires":[["e581168b.d45e88","c806c4bc.45aef8"]]},{"id":"e581168b.d45e88","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":2550,"y":760,"wires":[]},{"id":"c806c4bc.45aef8","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2470,"y":860,"wires":[]},{"id":"9f351231.15003","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2820,"y":560,"wires":[]},{"id":"55c7f51b.9b9fbc","type":"function","z":"b46ad2e6.8db39","name":"main flow","func":"msg.packet.flow = [{\n\t\t\"id\": \"d86d9fe1.0e5c4\",\n\t\t\"type\": \"tab\",\n\t\t\"label\": \"p2p\",\n\t\t\"disabled\": false,\n\t\t\"info\": \"\"\n\t}, {\n\t\t\"id\": \"f07c71ae.416e8\",\n\t\t\"type\": \"tab\",\n\t\t\"label\": \"reload_flows\",\n\t\t\"disabled\": false,\n\t\t\"info\": \"\"\n\t}, {\n\t\t\"id\": \"21aa4ee1.0f0142\",\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": \"localhost\",\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}, {\n\t\t\"id\": \"bd7647b3.5bf2a8\",\n\t\t\"type\": \"MySQLdatabase\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"host\": \"127.0.0.1\",\n\t\t\"port\": \"3306\",\n\t\t\"db\": \"NDT_table\",\n\t\t\"tz\": \"\"\n\t}, {\n\t\t\"id\": \"61ada8f0.a46bc8\",\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"superDB\",\n\t\t\"broker\": \"128.199.236.138\",\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}, {\n\t\t\"id\": \"9ce48933.adabf8\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"date\",\n\t\t\"repeat\": \"\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": false,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 140,\n\t\t\"y\": 120,\n\t\t\"wires\": [[\"6dc33b94.8a27a4\"]]\n\t}, {\n\t\t\"id\": \"6dc33b94.8a27a4\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"func\": \"msg.headers = {\\n         \\\"Content-type\\\" : \\\"application/json\\\",\\n         \\\"Node-RED-Deployment-Type\\\": \\\"reload\\\"\\n     }\\nmsg.payload = {};\\n     return msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 310,\n\t\t\"y\": 120,\n\t\t\"wires\": [[\"c0e31a63.c8bd78\"]]\n\t}, {\n\t\t\"id\": \"c0e31a63.c8bd78\",\n\t\t\"type\": \"http request\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"method\": \"POST\",\n\t\t\"ret\": \"txt\",\n\t\t\"url\": \"http://localhost:1880/flows\",\n\t\t\"tls\": \"\",\n\t\t\"x\": 470,\n\t\t\"y\": 120,\n\t\t\"wires\": [[\"319e253a.4b06aa\"]]\n\t}, {\n\t\t\"id\": \"319e253a.4b06aa\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 640,\n\t\t\"y\": 120,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"2d36260e.8fdd5a\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 290,\n\t\t\"y\": 200,\n\t\t\"wires\": [[\"9892d5e.0c95928\", \"c1c33dce.d397b\"]]\n\t}, {\n\t\t\"id\": \"65ce27b2.836048\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"gui o localhost\",\n\t\t\"topic\": \"\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 960,\n\t\t\"y\": 200,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"8567c99b.ba70b8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"convert from to\",\n\t\t\"func\": \"\\nmsg.packet = {\\n    \\\"from\\\" : msg._topic,\\n    \\\"to\\\" : msg.payload.to,\\n    \\\"content\\\" : msg.payload.content,\\n    \\\"request\\\" : 0\\n}\\nmsg.payload = {\\n    \\\"from\\\": msg.packet.from,\\n    \\\"content\\\" : msg.packet.content\\n}\\nmsg.topic = msg.packet.to\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 680,\n\t\t\"y\": 200,\n\t\t\"wires\": [[\"4202006e.d86d9\", \"65ce27b2.836048\"]]\n\t}, {\n\t\t\"id\": \"2b20d3f0.9d997c\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"str\",\n\t\t\"repeat\": \"\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": false,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 160,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"1640597d.85d897\"]]\n\t}, {\n\t\t\"id\": \"832ed2ca.56681\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 540,\n\t\t\"y\": 560,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"1640597d.85d897\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"test device gui len\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"to\\\" : msg.payload,\\n    \\\"content\\\" : \\\"hello tao la 68\\\"\\n    \\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 350,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"832ed2ca.56681\"]]\n\t}, {\n\t\t\"id\": \"1ee867f7.4e18b8\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload[0]['status']\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}, {\n\t\t\t\t\"t\": \"else\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 3,\n\t\t\"x\": 1390,\n\t\t\"y\": 260,\n\t\t\"wires\": [[\"5e05338f.ccb85c\"], [\"f37418cb.a97f98\"], [\"aa0ee922.973168\"]]\n\t}, {\n\t\t\"id\": \"af779f0f.f1244\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"reload server\",\n\t\t\"func\": \"msg.headers = {\\n         \\\"Content-type\\\" : \\\"application/json\\\",\\n         \\\"Node-RED-Deployment-Type\\\": \\\"reload\\\"\\n     }\\nmsg.payload = {};\\n     return msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 3690,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"9baee4e9.9ce568\"]]\n\t}, {\n\t\t\"id\": \"9baee4e9.9ce568\",\n\t\t\"type\": \"http request\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"method\": \"POST\",\n\t\t\"ret\": \"txt\",\n\t\t\"url\": \"http://localhost:1880/flows\",\n\t\t\"tls\": \"\",\n\t\t\"x\": 3850,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"4e013598.4922ac\"]]\n\t}, {\n\t\t\"id\": \"9892d5e.0c95928\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload.to\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"t\": \"null\"\n\t\t\t}, {\n\t\t\t\t\"t\": \"nnull\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 490,\n\t\t\"y\": 200,\n\t\t\"wires\": [[], [\"8567c99b.ba70b8\"]]\n\t}, {\n\t\t\"id\": \"4202006e.d86d9\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"check list server connected\",\n\t\t\"func\": \"\\n//var out = \\\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\\\" + msg.topic +\\\"') THEN 1 ELSE'\\\" +  msg.topic + \\\"' END AS result\\\";\\nvar out = \\\"Select status FROM server_connected WHERE id_server = '\\\" + msg.packet.to +\\\"'\\\";\\nmsg.topic = out;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 920,\n\t\t\"y\": 260,\n\t\t\"wires\": [[\"f39ecccd.ec7cc\"]]\n\t}, {\n\t\t\"id\": \"a44c0ffc.39107\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"nghe tu device hoac tu local gui xuong device\",\n\t\t\"info\": \"\",\n\t\t\"x\": 210,\n\t\t\"y\": 120,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"de2fdf22.99615\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert json mqtt_broker\",\n\t\t\"func\": \"\\na =  {\\n\\t\\t\\\"id\\\": msg.packet.to,\\n\\t\\t\\\"type\\\": \\\"mqtt-broker\\\",\\n\\t\\t\\\"z\\\": \\\"\\\",\\n\\t\\t\\\"name\\\": \\\"\\\",\\n\\t\\t\\\"broker\\\": msg.packet.ip_server,\\n\\t\\t\\\"port\\\": \\\"1883\\\",\\n\\t\\t\\\"clientid\\\": \\\"\\\",\\n\\t\\t\\\"usetls\\\": false,\\n\\t\\t\\\"compatmode\\\": true,\\n\\t\\t\\\"keepalive\\\": \\\"60\\\",\\n\\t\\t\\\"cleansession\\\": true,\\n\\t\\t\\\"birthTopic\\\": \\\"\\\",\\n\\t\\t\\\"birthQos\\\": \\\"0\\\",\\n\\t\\t\\\"birthPayload\\\": \\\"\\\",\\n\\t\\t\\\"closeTopic\\\": \\\"\\\",\\n\\t\\t\\\"closeQos\\\": \\\"0\\\",\\n\\t\\t\\\"closePayload\\\": \\\"\\\",\\n\\t\\t\\\"willTopic\\\": \\\"\\\",\\n\\t\\t\\\"willQos\\\": \\\"0\\\",\\n\\t\\t\\\"willPayload\\\": \\\"\\\"\\n\\t}\\n\\tb = {\\n\\t\\t\\\"id\\\": msg.id_mqtt_in,\\n\\t\\t\\\"type\\\": \\\"mqtt in\\\",\\n\\t\\t\\\"z\\\": \\\"d86d9fe1.0e5c4\\\",\\n\\t\\t\\\"name\\\": msg.packet.from, //cai nay chinh la mqtt local\\n\\t\\t\\\"topic\\\": msg.packet.from,\\n\\t\\t\\\"qos\\\": \\\"2\\\",\\n\\t\\t\\\"broker\\\": msg.packet.to,\\n\\t\\t\\\"x\\\": msg.payload.pos_x,\\n\\t\\t\\\"y\\\": msg.payload.pos_y,\\n\\t\\t\\\"wires\\\": [[\\\"id_mqtt_out\\\"]]\\n\\t}\\nmsg.payload = \\\",\\\" + JSON.stringify(a) + \\\",\\\" + JSON.stringify(b)\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2240,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"dea7b24c.96f7e\", \"f213c710.ee41c8\"]]\n\t}, {\n\t\t\"id\": \"f213c710.ee41c8\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/mqtt_broker.json\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 2600,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"2be26853.79d218\"]]\n\t}, {\n\t\t\"id\": \"7e15d0a4.d5a79\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"test gia lap device\",\n\t\t\"info\": \"\",\n\t\t\"x\": 130,\n\t\t\"y\": 520,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"6c3d75c1.0a0b5c\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert DB list server_connected\",\n\t\t\"func\": \"\\nquery = \\\"INSERT INTO `server_connected` (`id_server`, `ip_server`, `status`) VALUES (?,?,?)\\\";\\nmsg.payload = [msg.packet.to, msg.packet.ip_server, 0];\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2270,\n\t\t\"y\": 400,\n\t\t\"wires\": [[\"7a15e2d1.00878c\"]]\n\t}, {\n\t\t\"id\": \"107b2634.238bca\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert khi co id trong db\",\n\t\t\"info\": \"\",\n\t\t\"x\": 2800,\n\t\t\"y\": 420,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"563b8a32.efbc54\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"max(unit), x, y for mqtt_in\",\n\t\t\"func\": \"msg.packet = msg.payload\\nvar out = \\\"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\\\";  \\nmsg.topic = out;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1530,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"aea68bd2.1d6338\"]]\n\t}, {\n\t\t\"id\": \"dea7b24c.96f7e\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 2610,\n\t\t\"y\": 340,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"44541669.65db68\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"json for value mqtt_in\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"number\\\" : msg.payload[0]['unit'] + 1,\\n    \\\"pos_x\\\" : msg.payload[0]['x'],\\n    \\\"pos_y\\\" : msg.payload[0]['y'] +40\\n}\\nmsg.id_mqtt_in = \\\"id_mqtt_in\\\" + msg.payload.number.toString()\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1940,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"de2fdf22.99615\", \"6c3d75c1.0a0b5c\", \"d9cce086.a446b\"]]\n\t}, {\n\t\t\"id\": \"d9cce086.a446b\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert to mqtt_in\",\n\t\t\"func\": \"query = \\\"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\\\";\\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2220,\n\t\t\"y\": 320,\n\t\t\"wires\": [[\"4de7f33.88afc0c\"]]\n\t}, {\n\t\t\"id\": \"c96ebdaa.57833\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update status DB list server_connected\",\n\t\t\"func\": \"query = \\\"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\\\" + msg.payload.id_server_from + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1360,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"6337ec20.242ad4\"]]\n\t}, {\n\t\t\"id\": \"da7d90e0.6eab3\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 1830,\n\t\t\"y\": 60,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"8ae6ec67.ceb12\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"nhanh update status khi connect thanh cong\",\n\t\t\"info\": \"\",\n\t\t\"x\": 1310,\n\t\t\"y\": 20,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"d7dc6b0e.b6a358\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_response\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 940,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"d5212710.61fc78\"]]\n\t}, {\n\t\t\"id\": \"d5212710.61fc78\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 1130,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"c96ebdaa.57833\"]]\n\t}, {\n\t\t\"id\": \"536f2b02.050f34\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"python /root/.node-red/run/merge.py\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"\",\n\t\t\"x\": 3370,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"af779f0f.f1244\"], [], []]\n\t}, {\n\t\t\"id\": \"f39ecccd.ec7cc\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"server avaliable\",\n\t\t\"x\": 1180,\n\t\t\"y\": 260,\n\t\t\"wires\": [[\"1ee867f7.4e18b8\"]]\n\t}, {\n\t\t\"id\": \"7a15e2d1.00878c\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"add server_connected\",\n\t\t\"x\": 2560,\n\t\t\"y\": 440,\n\t\t\"wires\": [[]]\n\t}, {\n\t\t\"id\": \"aea68bd2.1d6338\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"mqtt_in\",\n\t\t\"x\": 1740,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"44541669.65db68\"]]\n\t}, {\n\t\t\"id\": \"4de7f33.88afc0c\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"insert mqtt_in\",\n\t\t\"x\": 2460,\n\t\t\"y\": 320,\n\t\t\"wires\": [[]]\n\t}, {\n\t\t\"id\": \"6337ec20.242ad4\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"add server_connected\",\n\t\t\"x\": 1660,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"da7d90e0.6eab3\"]]\n\t}, {\n\t\t\"id\": \"elefos_mqtt_request\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_request\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"\",\n\t\t\"x\": 4660,\n\t\t\"y\": 300,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"4e013598.4922ac\",\n\t\t\"type\": \"delay\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"pauseType\": \"delay\",\n\t\t\"timeout\": \"500\",\n\t\t\"timeoutUnits\": \"milliseconds\",\n\t\t\"rate\": \"1\",\n\t\t\"nbRateUnits\": \"1\",\n\t\t\"rateUnits\": \"second\",\n\t\t\"randomFirst\": \"1\",\n\t\t\"randomLast\": \"5\",\n\t\t\"randomUnits\": \"seconds\",\n\t\t\"drop\": false,\n\t\t\"x\": 4030,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"4e17efc8.be447\"]]\n\t}, {\n\t\t\"id\": \"2be26853.79d218\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"broker\",\n\t\t\"func\": \"msg.payload = msg.packet.to\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2850,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"402dc258.d72e6c\"]]\n\t}, {\n\t\t\"id\": \"402dc258.d72e6c\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/id_broker.txt\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 3070,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"536f2b02.050f34\"]]\n\t}, {\n\t\t\"id\": \"6f559592.e0a4cc\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_request\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 110,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"1d5e3756.6d5779\"]]\n\t}, {\n\t\t\"id\": \"d8cea3e2.3e542\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"edit and backup first msg\",\n\t\t\"func\": \"\\nmsg.packet = {\\n    \\\"from\\\" : msg.payload.id_server_to,\\n    \\\"to\\\" : msg.payload.id_server_from,\\n    \\\"content\\\" : msg.payload.content,\\n    \\\"request\\\" : 1\\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 510,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"4202006e.d86d9\", \"id_mqtt_out\"]]\n\t}, {\n\t\t\"id\": \"1d5e3756.6d5779\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 290,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"d8cea3e2.3e542\"]]\n\t}, {\n\t\t\"id\": \"4e17efc8.be447\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"packet.request\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"str\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 4190,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"d7354727.83a1c8\"], [\"db85f0b0.5e308\"]]\n\t}, {\n\t\t\"id\": \"db85f0b0.5e308\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update status DB list server_connected\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server_from\\\" : msg.packet.from,\\n    \\\"id_server_to\\\" : msg.packet.to\\n}\\nmsg.backup = msg.payload\\nquery = \\\"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\\\" + msg.payload.id_server_to + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 4460,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"ed47d54a.ec4a68\"]]\n\t}, {\n\t\t\"id\": \"93aec8ea.0cf3a8\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 4750,\n\t\t\"y\": 480,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"ed47d54a.ec4a68\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"add server_connected\",\n\t\t\"x\": 4540,\n\t\t\"y\": 420,\n\t\t\"wires\": [[\"93aec8ea.0cf3a8\", \"a5e3d89d.3ec938\"]]\n\t}, {\n\t\t\"id\": \"elefos_mqtt_response\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_response\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"\",\n\t\t\"x\": 4880,\n\t\t\"y\": 420,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"a5e3d89d.3ec938\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"func\": \"msg.payload = msg.backup\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 4730,\n\t\t\"y\": 420,\n\t\t\"wires\": [[\"elefos_mqtt_response\"]]\n\t}, {\n\t\t\"id\": \"d7354727.83a1c8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"packet have msg first\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server_from\\\" : msg.packet.from,\\n    \\\"id_server_to\\\" : msg.packet.to,\\n    \\\"content\\\" : msg.packet.content\\n}\\nmsg.backup = msg.payload\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 4400,\n\t\t\"y\": 300,\n\t\t\"wires\": [[\"elefos_mqtt_request\", \"59540418.79417c\"]]\n\t}, {\n\t\t\"id\": \"f37418cb.a97f98\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"broker\",\n\t\t\"func\": \"msg.payload = msg.packet.to\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2810,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"d57ee01e.b722c\"]]\n\t}, {\n\t\t\"id\": \"d57ee01e.b722c\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/id_broker.txt\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 3070,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"9e4dfd7a.8788a\"]]\n\t}, {\n\t\t\"id\": \"9e4dfd7a.8788a\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"python /root/.node-red/run/update.py\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"\",\n\t\t\"x\": 3370,\n\t\t\"y\": 300,\n\t\t\"wires\": [[\"af779f0f.f1244\"], [], []]\n\t}, {\n\t\t\"id\": \"5e05338f.ccb85c\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"packet.request\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"str\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 2670,\n\t\t\"y\": 240,\n\t\t\"wires\": [[], [\"f37418cb.a97f98\"]]\n\t}, {\n\t\t\"id\": \"c1c33dce.d397b\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 450,\n\t\t\"y\": 160,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"1eb634bf.72ce1b\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"synch_output\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 770,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"e9a6c664.40a9b8\"]]\n\t}, {\n\t\t\"id\": \"5c23b3ca.a8e9cc\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update status DB list server_connected\",\n\t\t\"func\": \"query = \\\"UPDATE `server_connected` SET `ip_server` = '\\\" + msg.packet.ip_server + \\\"' WHERE `id_server` = '\\\" + msg.packet.id_server + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1660,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"948078e6.351608\"]]\n\t}, {\n\t\t\"id\": \"948078e6.351608\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"update DB\",\n\t\t\"x\": 1930,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"99e1bfb5.17869\"]]\n\t}, {\n\t\t\"id\": \"e9a6c664.40a9b8\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 950,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"94e5a954.fb2128\"]]\n\t}, {\n\t\t\"id\": \"fa198414.c79f98\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1600,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"9aa2d2ef.49d6a\", \"1889c4b8.89eeab\"]]\n\t}, {\n\t\t\"id\": \"17c91cac.1ee523\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"lookup ip trong server_connected\",\n\t\t\"func\": \"msg.ip_server = msg.payload.replace(\\\"\\\\n\\\",\\\"\\\")\\nvar out = \\\"Select server_connected.ip_server, server_connected.id_server FROM server_connected INNER JOIN my_server ON server_connected.id_server = my_server.id_server\\\";  \\nmsg.topic = out;\\nreturn msg;\\n\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1380,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"fa198414.c79f98\"]]\n\t}, {\n\t\t\"id\": \"9aa2d2ef.49d6a\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload[0]['ip_server']\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"msg\",\n\t\t\t\t\"t\": \"neq\",\n\t\t\t\t\"v\": \"ip_server\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 1,\n\t\t\"x\": 1750,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"4ed3ec08.f1da34\"]]\n\t}, {\n\t\t\"id\": \"d0514cba.a5378\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"dig TXT +short o-o.myaddr.l.google.com @ns1.google.com | awk -F'\\\"' '{ print $2}'\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"get ip public\",\n\t\t\"x\": 1150,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"17c91cac.1ee523\"], [], []]\n\t}, {\n\t\t\"id\": \"4ed3ec08.f1da34\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"publish new ip\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server\\\" : msg.payload[0]['id_server'],\\n    \\\"ip_server\\\" : msg.ip_server,\\n    \\\"status\\\" : 1\\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1920,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"384b13a8.fed09c\"]]\n\t}, {\n\t\t\"id\": \"e2011145.24474\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"date\",\n\t\t\"repeat\": \"3600\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": true,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 970,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"d0514cba.a5378\"]]\n\t}, {\n\t\t\"id\": \"384b13a8.fed09c\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"synch_input\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 2090,\n\t\t\"y\": 720,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"id_mqtt_out\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 960,\n\t\t\"y\": 320,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"p2p_mqttin_local\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 120,\n\t\t\"y\": 200,\n\t\t\"wires\": [[\"2d36260e.8fdd5a\"]]\n\t}, {\n\t\t\"id\": \"59540418.79417c\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 4650,\n\t\t\"y\": 240,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"5d2b2495.75a3cc\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"lookup\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 1690,\n\t\t\"y\": 300,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"aa0ee922.973168\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"sent packet\",\n\t\t\"func\": \"msg.payload = msg.packet\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1550,\n\t\t\"y\": 300,\n\t\t\"wires\": [[\"5d2b2495.75a3cc\"]]\n\t}, {\n\t\t\"id\": \"p2p_mqttin_server\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 960,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"8bdae61a.973228\"]]\n\t}, {\n\t\t\"id\": \"8bdae61a.973228\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 1190,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"f51c961e.7afbf8\"]]\n\t}, {\n\t\t\"id\": \"b2fab2b4.b2a3f\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"truong hop khong tim thay id trong db\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"payload\",\n\t\t\"x\": 1750,\n\t\t\"y\": 420,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"3795eabf.bef5b6\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"khong tim thay\",\n\t\t\"func\": \"msg.payload = \\\"meo thay nhe\\\"\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1500,\n\t\t\"y\": 420,\n\t\t\"wires\": [[\"b2fab2b4.b2a3f\"]]\n\t}, {\n\t\t\"id\": \"79b9f30d.aefeec\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"Nhan tin hieu broadcast tu server\",\n\t\t\"info\": \"\",\n\t\t\"x\": 1060,\n\t\t\"y\": 520,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"f51c961e.7afbf8\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload.ip_server\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"t\": \"nnull\"\n\t\t\t}, {\n\t\t\t\t\"t\": \"else\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 1330,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"563b8a32.efbc54\"], [\"3795eabf.bef5b6\"]]\n\t}, {\n\t\t\"id\": \"ac8b6e37.b76c\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"of lookup server\",\n\t\t\"info\": \"\",\n\t\t\"x\": 780,\n\t\t\"y\": 360,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"99e1bfb5.17869\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"ip_broker\",\n\t\t\"func\": \"msg.payload = msg.packet\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2100,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"59a5319e.cb006\"]]\n\t}, {\n\t\t\"id\": \"59a5319e.cb006\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/ip_broker.json\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 2340,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"2d280af8.89e766\"]]\n\t}, {\n\t\t\"id\": \"2d280af8.89e766\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"python /root/.node-red/run/update_broker.py\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"\",\n\t\t\"x\": 2690,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"d4381c38.1f131\"], [], []]\n\t}, {\n\t\t\"id\": \"b4f358ed.a6b4b8\",\n\t\t\"type\": \"delay\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"pauseType\": \"delay\",\n\t\t\"timeout\": \"500\",\n\t\t\"timeoutUnits\": \"milliseconds\",\n\t\t\"rate\": \"1\",\n\t\t\"nbRateUnits\": \"1\",\n\t\t\"rateUnits\": \"second\",\n\t\t\"randomFirst\": \"1\",\n\t\t\"randomLast\": \"5\",\n\t\t\"randomUnits\": \"seconds\",\n\t\t\"drop\": false,\n\t\t\"x\": 3430,\n\t\t\"y\": 560,\n\t\t\"wires\": [[]]\n\t}, {\n\t\t\"id\": \"79a269db.a790a8\",\n\t\t\"type\": \"http request\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"method\": \"POST\",\n\t\t\"ret\": \"txt\",\n\t\t\"url\": \"http://localhost:1880/flows\",\n\t\t\"tls\": \"\",\n\t\t\"x\": 3270,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"b4f358ed.a6b4b8\"]]\n\t}, {\n\t\t\"id\": \"c73c264.d0111d8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"reload server\",\n\t\t\"func\": \"msg.headers = {\\n         \\\"Content-type\\\" : \\\"application/json\\\",\\n         \\\"Node-RED-Deployment-Type\\\": \\\"reload\\\"\\n     }\\nmsg.payload = {};\\n     return msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 3110,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"79a269db.a790a8\"]]\n\t}, {\n\t\t\"id\": \"p2p_mqttin_check\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036_check\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 740,\n\t\t\"y\": 600,\n\t\t\"wires\": [[\"e9a6c664.40a9b8\"]]\n\t}, {\n\t\t\"id\": \"fe69310c.11983\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"get all ip trong server_connected\",\n\t\t\"func\": \"msg.id_server = msg.payload[0]['id_server']\\nvar out = \\\"Select id_server, ip_server FROM server_connected\\\";  \\nmsg.topic = out;\\nreturn msg;\\n\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1410,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"695e1337.6c73bc\"]]\n\t}, {\n\t\t\"id\": \"695e1337.6c73bc\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1620,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"dbe2f4ad.1dbb78\"]]\n\t}, {\n\t\t\"id\": \"91198793.447068\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"date\",\n\t\t\"repeat\": \"3600\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": true,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 910,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"98803aa7.ab73f8\"]]\n\t}, {\n\t\t\"id\": \"fdb8b1bc.202f1\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"synch_list\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 2060,\n\t\t\"y\": 820,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"d4381c38.1f131\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"packet.status\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"str\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 2930,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"c73c264.d0111d8\"], [\"143f14db.8563fb\"]]\n\t}, {\n\t\t\"id\": \"c3ba7d4b.e4ce5\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"khoa status\",\n\t\t\"info\": \"Khoa nay giup phan biet khi nao la dong bo broadcast\\nVa cap nhat list ip, list ip chi duoc reset khi status = 1\\nNeu chua het thi o server van gui xuong 0 o luong synch_list\",\n\t\t\"x\": 2650,\n\t\t\"y\": 520,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"fb81246d.aae9f8\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 2050,\n\t\t\"y\": 880,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"dbe2f4ad.1dbb78\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"check update when sleep\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server\\\" : msg.id_server,\\n    \\\"list\\\" : msg.payload\\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1850,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"fdb8b1bc.202f1\", \"fb81246d.aae9f8\"]]\n\t}, {\n\t\t\"id\": \"143f14db.8563fb\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 3090,\n\t\t\"y\": 600,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"p2p_mqttin_reload\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036_reload\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 3040,\n\t\t\"y\": 480,\n\t\t\"wires\": [[\"c73c264.d0111d8\"]]\n\t}, {\n\t\t\"id\": \"5a1c5b65.18d834\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update my ip \",\n\t\t\"info\": \"\",\n\t\t\"x\": 790,\n\t\t\"y\": 720,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"4be0daec.7d89e4\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"chi khi nao thay doi moi dc qua\",\n\t\t\"info\": \"\",\n\t\t\"x\": 1810,\n\t\t\"y\": 680,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"9717f311.e2dfb\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update list connected\",\n\t\t\"info\": \"\",\n\t\t\"x\": 700,\n\t\t\"y\": 820,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"98803aa7.ab73f8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"get my ip\",\n\t\t\"func\": \"var out = \\\"Select id_server FROM my_server\\\";  \\nmsg.topic = out;\\nreturn msg;\\n\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1060,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"fcccba5b.292058\"]]\n\t}, {\n\t\t\"id\": \"fcccba5b.292058\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1200,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"fe69310c.11983\"]]\n\t}, {\n\t\t\"id\": \"1889c4b8.89eeab\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 1720,\n\t\t\"y\": 660,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"94e5a954.fb2128\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"check ip\",\n\t\t\"func\": \"msg.packet = msg.payload\\nquery = \\\"select id_server from server_connected WHERE `id_server` = '\\\" + msg.packet.id_server + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1100,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"544da6d5.02d878\", \"5a3249df.9bf6d8\"]]\n\t}, {\n\t\t\"id\": \"544da6d5.02d878\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1260,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"624ba739.a9ae78\"]]\n\t}, {\n\t\t\"id\": \"624ba739.a9ae78\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload[0]\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"t\": \"nnull\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 1,\n\t\t\"x\": 1410,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"5c23b3ca.a8e9cc\"]]\n\t}, {\n\t\t\"id\": \"5a3249df.9bf6d8\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 1280,\n\t\t\"y\": 500,\n\t\t\"wires\": []\n\t}\n]\n\nfor(var x = 0; x < msg.packet.flow.length; x++){\n    var obj = msg.packet.flow[x]\n    if(obj['id'] == \"p2p_mqttin_local\" || obj['id'] == \"p2p_mqttin_server\" || obj['id'] == \"id_mqtt_out\")\n        obj['topic'] = msg.packet.id_server\n    if(obj[\"id\"] == \"p2p_mqttin_reload\")\n        obj['topic'] = msg.packet.id_server + \"_reload\"\n    if(obj['id'] == \"p2p_mqttin_check\")\n        obj['topic'] = msg.packet.id_server + \"_check\"\n}\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":760,"wires":[["3b7f7b4d.fe54c4"]]},{"id":"82194765.2e1ae8","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":880,"wires":[]},{"id":"bcfc5d0f.c935a","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1640,"y":720,"wires":[]},{"id":"17e1d3f6.41891c","type":"mqtt in","z":"6c8ed60b.239c48","name":"","topic":"registered","qos":"2","broker":"ced4f10c.63353","x":80,"y":480,"wires":[["ba58e0a0.0c8b4"]]},{"id":"b9e352e0.20c87","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":540,"wires":[]},{"id":"fc1ca4c3.931a18","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"elefos_feedback_status","qos":"","retain":"","broker":"ced4f10c.63353","x":570,"y":160,"wires":[]},{"id":"9647df91.7f51","type":"function","z":"6c8ed60b.239c48","name":"status","func":"if (msg.status.text == \"OK\")\n    msg.payload = \"Sign up success\"\nelse if (msg.status.text == \"Error\")\n    msg.payload = \"Please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["5b97fe01.87b83"]]},{"id":"e529dfac.d7f0e","type":"function","z":"6c8ed60b.239c48","name":"insert","func":"msg.packet.password = msg.payload\nquery = \"INSERT INTO `login` (`user_id`, `password`) VALUES (?,?)\";\nmsg.payload = [msg.packet.user_id, msg.packet.password];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["89c617ff.94d8d8"]]},{"id":"9fd811c9.5b49","type":"digest","z":"6c8ed60b.239c48","name":"","algorithm":"SHA256","x":450,"y":480,"wires":[["e529dfac.d7f0e"]]},{"id":"ba58e0a0.0c8b4","type":"json","z":"6c8ed60b.239c48","name":"","property":"payload","action":"","pretty":false,"x":210,"y":480,"wires":[["5888b178.2a115"]]},{"id":"5888b178.2a115","type":"function","z":"6c8ed60b.239c48","name":"packet","func":"msg.packet = {\n    \"user_id\": msg.payload.tk,\n}\nmsg.payload = msg.payload.mk\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["9fd811c9.5b49"]]},{"id":"89c617ff.94d8d8","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":750,"y":480,"wires":[["b9e352e0.20c87","944e21d6.e76bd"]]},{"id":"90486d00.49fe5","type":"status","z":"6c8ed60b.239c48","name":"","scope":["89c617ff.94d8d8"],"x":80,"y":160,"wires":[["fa0dba1a.b131f8","9647df91.7f51"]]},{"id":"fa0dba1a.b131f8","type":"debug","z":"6c8ed60b.239c48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":230,"y":220,"wires":[]},{"id":"5b97fe01.87b83","type":"delay","z":"6c8ed60b.239c48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":160,"wires":[["fc1ca4c3.931a18"]]},{"id":"944e21d6.e76bd","type":"exec","z":"6c8ed60b.239c48","command":"bash /root/.ssh/keypairs.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":1000,"y":480,"wires":[["e02e8039.b5228"],[],[]]},{"id":"e02e8039.b5228","type":"file in","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/private","format":"utf8","chunk":false,"sendError":false,"x":1250,"y":480,"wires":[["3ab2f58f.bb864a"]]},{"id":"52fc3b16.1241b4","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1930,"y":520,"wires":[]},{"id":"e53791e6.23e5","type":"file in","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/public","format":"utf8","chunk":false,"sendError":false,"x":1600,"y":480,"wires":[["6d89d299.2c24ac"]]},{"id":"3ab2f58f.bb864a","type":"function","z":"6c8ed60b.239c48","name":"private","func":"msg.packet.private = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":480,"wires":[["e53791e6.23e5"]]},{"id":"6d89d299.2c24ac","type":"function","z":"6c8ed60b.239c48","name":"public","func":"msg.packet.public = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":480,"wires":[["52fc3b16.1241b4","e7b79c33.25d14"]]},{"id":"e7b79c33.25d14","type":"function","z":"6c8ed60b.239c48","name":"insert","func":"msg.packet.password = msg.payload\nquery = \"INSERT INTO `key` (`user_id`, `public`, `private`) VALUES (?,?,?)\";\nmsg.payload = [msg.packet.user_id, msg.packet.public, msg.packet.private];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":480,"wires":[["2a9c6386.c2e5cc"]]},{"id":"2a9c6386.c2e5cc","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":2070,"y":480,"wires":[[]]},{"id":"b72dfc12.11f62","type":"mqtt in","z":"6c8ed60b.239c48","name":"","topic":"transaction","qos":"2","broker":"ced4f10c.63353","x":70,"y":340,"wires":[["5e725dd5.ee3914"]]},{"id":"5e725dd5.ee3914","type":"json","z":"6c8ed60b.239c48","name":"","property":"payload","action":"","pretty":false,"x":210,"y":340,"wires":[["4761c881.39bf68","8597f077.5887a"]]},{"id":"4761c881.39bf68","type":"function","z":"6c8ed60b.239c48","name":"select private","func":"msg.packet = msg.payload\nvar out = \"Select private, public from `key` where user_id = \" + msg.payload.issuer;  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["f2c4e3b8.e090b"]]},{"id":"f2c4e3b8.e090b","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":530,"y":340,"wires":[["e392de14.3a893","4d94e44b.aa77ac","a1017873.85e428"]]},{"id":"e65e1f14.57b6f","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"elefos_feedback_transaction","qos":"","retain":"","broker":"ced4f10c.63353","x":2360,"y":320,"wires":[]},{"id":"e392de14.3a893","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":280,"wires":[]},{"id":"2c67f7fd.37bb08","type":"file","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/rsa/key_sign","appendNewline":true,"createDir":false,"overwriteFile":"true","x":920,"y":340,"wires":[["17ec0f86.822"]]},{"id":"4d94e44b.aa77ac","type":"function","z":"6c8ed60b.239c48","name":"convert","func":"msg.payload = msg.payload[0]['private']\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":340,"wires":[["2c67f7fd.37bb08"]]},{"id":"8597f077.5887a","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":280,"wires":[]},{"id":"aa897c59.2220f","type":"function","z":"6c8ed60b.239c48","name":"new packet","func":"msg.packet.sig = msg.payload\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":320,"wires":[["e65e1f14.57b6f","2caf1b8a.7bc744"]]},{"id":"ece9bc51.0cbdf","type":"exec","z":"6c8ed60b.239c48","command":"bash /root/.ssh/rsa/sign.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1580,"y":340,"wires":[["b61a7157.eb316"],[],[]]},{"id":"c778f61f.4e4fb8","type":"file","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/rsa/transaction","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1310,"y":340,"wires":[["ece9bc51.0cbdf"]]},{"id":"17ec0f86.822","type":"function","z":"6c8ed60b.239c48","name":"convert","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":340,"wires":[["c778f61f.4e4fb8"]]},{"id":"b61a7157.eb316","type":"file in","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/rsa/signatureBase64","format":"utf8","chunk":false,"sendError":false,"x":1870,"y":320,"wires":[["aa897c59.2220f"]]},{"id":"2caf1b8a.7bc744","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2290,"y":280,"wires":[]},{"id":"719afa64.71af74","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"sharePublic","qos":"","retain":"","broker":"b93e0c39.5bd04","x":910,"y":380,"wires":[]},{"id":"a1017873.85e428","type":"function","z":"6c8ed60b.239c48","name":"convert","func":"msg.payload = msg.payload[0]['public']\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["719afa64.71af74"]]},{"id":"e07c6787.61a378","type":"mqtt in","z":"6c8ed60b.239c48","name":"","topic":"login","qos":"2","broker":"ced4f10c.63353","x":60,"y":580,"wires":[["4c6476da.4ca9f8"]]},{"id":"a622ff6a.f1499","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":540,"wires":[]},{"id":"4c6476da.4ca9f8","type":"json","z":"6c8ed60b.239c48","name":"","property":"payload","action":"","pretty":false,"x":210,"y":580,"wires":[["a622ff6a.f1499","c8c056be.be34c8"]]},{"id":"2c536a69.27d6c6","type":"digest","z":"6c8ed60b.239c48","name":"","algorithm":"SHA256","x":470,"y":580,"wires":[["66231843.593908"]]},{"id":"c8c056be.be34c8","type":"function","z":"6c8ed60b.239c48","name":"packet","func":"msg.packet = {\n    \"user_id\": msg.payload.tk,\n}\nmsg.payload = msg.payload.mk\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["2c536a69.27d6c6"]]},{"id":"66231843.593908","type":"function","z":"6c8ed60b.239c48","name":"select","func":"msg.packet.password = msg.payload\nquery = \"select password from `login` where user_id = '\" + msg.packet.user_id +\"'\" ;\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["a2725cc5.ca821"]]},{"id":"a2725cc5.ca821","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":730,"y":580,"wires":[["fe26e40c.78c2a8"]]},{"id":"fe26e40c.78c2a8","type":"switch","z":"6c8ed60b.239c48","name":"","property":"payload[0]['password']","propertyType":"msg","rules":[{"t":"eq","v":"packet.password","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":640,"wires":[["3e0c473b.f9aec8","eeeeb18f.4f5f5"],["5bcfcc47.351a04","893b76f0.425db8"]]},{"id":"5bcfcc47.351a04","type":"function","z":"6c8ed60b.239c48","name":"fail","func":"msg.payload = {\n    \"user_id\": \"\",\n    \"cmd\": \"Username or password incorrect\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":680,"wires":[["6582e889.37f4e8"]]},{"id":"3e0c473b.f9aec8","type":"function","z":"6c8ed60b.239c48","name":"ok","func":"msg.payload = {\n    \"user_id\": msg.packet.user_id,\n    \"cmd\": \"Login success\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":600,"wires":[["5ceb2b7b.4ce3a4"]]},{"id":"5ceb2b7b.4ce3a4","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"elefos_feedback_login","qos":"","retain":"","broker":"ced4f10c.63353","x":1200,"y":620,"wires":[]},{"id":"893b76f0.425db8","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":740,"wires":[]},{"id":"eeeeb18f.4f5f5","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":560,"wires":[]},{"id":"6582e889.37f4e8","type":"delay","z":"6c8ed60b.239c48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":680,"wires":[["5ceb2b7b.4ce3a4"]]},{"id":"d1dc30e5.ab861","type":"ui_button","z":"be578a84.1bc188","name":"","group":"9eac835c.e5e0e","order":5,"width":"5","height":"1","passthru":false,"label":"Generate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":60,"y":260,"wires":[["de44d47d.2e3778"]]},{"id":"8b024053.d167a","type":"ui_button","z":"be578a84.1bc188","name":"","group":"9eac835c.e5e0e","order":6,"width":"5","height":"1","passthru":false,"label":"Copy","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":50,"y":300,"wires":[["36f257cb.e5b708","d81283e8.e851e"]]},{"id":"c8b98d35.2b2ee","type":"function","z":"be578a84.1bc188","name":"","func":"const copy = require('copy-text-to-clipboard');\n \nbutton.addEventListener('click', () => {\n    copy('');\n});\nreturn msg","outputs":1,"noerr":0,"x":630,"y":100,"wires":[[]]},{"id":"86c6527f.46314","type":"exec","z":"be578a84.1bc188","command":"bash /root/.ssh/keypairs.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":420,"y":260,"wires":[["6aff0c71.5e4034"],[],[]]},{"id":"6aff0c71.5e4034","type":"file in","z":"be578a84.1bc188","name":"","filename":"/root/.ssh/private","format":"utf8","chunk":false,"sendError":false,"x":650,"y":260,"wires":[["1d8fefe4.4fffe"]]},{"id":"1d8fefe4.4fffe","type":"function","z":"be578a84.1bc188","name":"private","func":"msg.packet.private = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["2dbbb6b6.69217a"]]},{"id":"2dbbb6b6.69217a","type":"file in","z":"be578a84.1bc188","name":"","filename":"/root/.ssh/public","format":"utf8","chunk":false,"sendError":false,"x":1000,"y":260,"wires":[["b72b0f0e.87718"]]},{"id":"b72b0f0e.87718","type":"function","z":"be578a84.1bc188","name":"public","func":"msg.packet.public = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":260,"wires":[["ae39c269.a433a","126a3017.df797"]]},{"id":"ae39c269.a433a","type":"debug","z":"be578a84.1bc188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1330,"y":300,"wires":[]},{"id":"126a3017.df797","type":"function","z":"be578a84.1bc188","name":"insert","func":"msg.packet.password = msg.payload\nquery = \"INSERT INTO `key_device`(`public`, `private`) VALUES (?,?)\";\nmsg.payload = [msg.packet.public, msg.packet.private];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["7bb2f990.46f8b8"]]},{"id":"7bb2f990.46f8b8","type":"mysql","z":"be578a84.1bc188","mydb":"b7654e0d.03fc1","name":"","x":1470,"y":260,"wires":[["5c039f9a.ec329","504b466.8150fb8"]]},{"id":"de44d47d.2e3778","type":"function","z":"be578a84.1bc188","name":"packet","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["86c6527f.46314"]]},{"id":"670e0609.4b7628","type":"ui_template","z":"be578a84.1bc188","group":"9eac835c.e5e0e","name":"","order":4,"width":"10","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1800,"y":260,"wires":[[]]},{"id":"5c039f9a.ec329","type":"function","z":"be578a84.1bc188","name":"print ui","func":"msg.payload = msg.packet.private\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":260,"wires":[["670e0609.4b7628"]]},{"id":"504b466.8150fb8","type":"function","z":"be578a84.1bc188","name":"print ui","func":"msg.payload = msg.packet.public\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":300,"wires":[["fefa1499.01f6e8"]]},{"id":"fefa1499.01f6e8","type":"ui_template","z":"be578a84.1bc188","group":"9eac835c.e5e0e","name":"","order":2,"width":"10","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1800,"y":300,"wires":[[]]},{"id":"5e1be22c.21fd8c","type":"ui_text","z":"be578a84.1bc188","group":"9eac835c.e5e0e","order":1,"width":0,"height":0,"name":"","label":"<H4><font color=\"blue\">Public Key</font></H4>","format":"{{msg.payload}}","layout":"row-spread","x":180,"y":360,"wires":[]},{"id":"3a454675.e0008a","type":"ui_text","z":"be578a84.1bc188","group":"9eac835c.e5e0e","order":3,"width":0,"height":0,"name":"","label":"<H4><font color=\"blue\">Private Key</font></H4>","format":"{{msg.payload}}","layout":"row-spread","x":190,"y":400,"wires":[]},{"id":"ae009beb.1e0478","type":"ui_template","z":"be578a84.1bc188","group":"9eac835c.e5e0e","name":"","order":7,"width":0,"height":0,"format":"const getUnicorns = count => ''.repeat(count);\n\nconst button = document.createElement('button');\nbutton.textContent = 'Copy ';\nbutton.style.fontSize = '40px';\ndocument.body.appendChild(button);\n\nlet i = 1;\nbutton.addEventListener('click', () => {\n  copyTextToClipboard(getUnicorns(i));\n  button.textContent = `Copy ${getUnicorns(++i)}`;\n});","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":480,"wires":[[]]},{"id":"36f257cb.e5b708","type":"template","z":"be578a84.1bc188","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"const getUnicorns = count => ''.repeat(count);\n\nconst button = document.createElement('button');\nbutton.textContent = 'Copy ';\nbutton.style.fontSize = '40px';\ndocument.body.appendChild(button);\n\nlet i = 1;\nbutton.addEventListener('click', () => {\n  copyTextToClipboard(getUnicorns(i));\n  button.textContent = `Copy ${getUnicorns(++i)}`;\n});","output":"str","x":420,"y":460,"wires":[[]]},{"id":"d81283e8.e851e","type":"function","z":"be578a84.1bc188","name":"","func":"const copy = require('copy-text-to-clipboard');\n \nbutton.addEventListener('click', () => {\n    copy('abc');\n});\nmsg.payload = copy\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["22b0a9aa.b56fc6"]]},{"id":"22b0a9aa.b56fc6","type":"debug","z":"be578a84.1bc188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":340,"wires":[]},{"id":"ec180fd6.f420a","type":"http in","z":"4e5f5625.2d0278","name":"","url":":2313/elefos/api","method":"get","upload":false,"swaggerDoc":"","x":320,"y":100,"wires":[["fff6d1af.253a"]]},{"id":"1ea85278.dedd3e","type":"http response","z":"4e5f5625.2d0278","name":"","x":870,"y":100,"wires":[]},{"id":"36cc0f89.c18ad","type":"debug","z":"4e5f5625.2d0278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":160,"wires":[]},{"id":"fff6d1af.253a","type":"switch","z":"4e5f5625.2d0278","name":"","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":100,"wires":[["b23172f6.655f7"]]},{"id":"b23172f6.655f7","type":"function","z":"4e5f5625.2d0278","name":"","func":"msg.payload = \"day day la so\" + msg.payload.request\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["36cc0f89.c18ad","1ea85278.dedd3e"]]},{"id":"68709e4c.05c71","type":"inject","z":"4e5f5625.2d0278","name":"","topic":"1","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":160,"wires":[["deb1a00a.01917"]]},{"id":"deb1a00a.01917","type":"http request","z":"4e5f5625.2d0278","name":"","method":"GET","ret":"txt","url":"http://128.199.236.138:1880/elefos/api?request={{{topic}}}","tls":"","x":450,"y":160,"wires":[["a72e6e24.36e7f"]]},{"id":"a72e6e24.36e7f","type":"debug","z":"4e5f5625.2d0278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"2034a6b4.36744a","type":"comment","z":"4e5f5625.2d0278","name":"api cho cac node tai /elefos/api?request=","info":"","x":380,"y":60,"wires":[]},{"id":"c37d6347.a2c49","type":"inject","z":"7f5d32fd.e690bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["695b678e.6958c8"]]},{"id":"695b678e.6958c8","type":"function","z":"7f5d32fd.e690bc","name":"","func":"\nvar now = new Date()\nmsg.payload = now.getTime()\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["3af97722.835448"]]},{"id":"3af97722.835448","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":540,"wires":[]},{"id":"8e333656.291638","type":"file","z":"7f5d32fd.e690bc","name":"write down packet 1","filename":"/home/identify_server/file/packet_1_base64","appendNewline":false,"createDir":false,"overwriteFile":"true","x":600,"y":300,"wires":[["227c3a65.9aeaf6"]]},{"id":"227c3a65.9aeaf6","type":"exec","z":"7f5d32fd.e690bc","command":"sudo bash /home/identify_server/code/decrypt_packet_1_base64.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"decrypt packet 1","x":800,"y":300,"wires":[["501e4df9.521174"],[],[]]},{"id":"501e4df9.521174","type":"file in","z":"7f5d32fd.e690bc","name":"read packet 1","filename":"/home/identify_server/file/packet_1","format":"utf8","chunk":false,"sendError":false,"x":1000,"y":300,"wires":[["e998cd38.0b6e4"]]},{"id":"e998cd38.0b6e4","type":"json","z":"7f5d32fd.e690bc","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":300,"wires":[["120d2243.4a975e"]]},{"id":"9a4e2f5f.94a6e","type":"function","z":"7f5d32fd.e690bc","name":"query","func":"msg.payload = [{\n\"public_box\":\"-----BEGIN PUBLIC KEY-----\\n\" +\n\"MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCS9WYK08AU4AQD0KnNwuF8TeO7\\n\" +\n\"bguG4ZcuDY6tYwTIEPyGzVaiJAgfPwGLhjJzN10fMwq8/Yu2iw1oq34KnUft7bS2\\n\" +\n\"z5e1Es+Sgg6g3Zp/dmEIOgxCmKhgmWMsWY1Z6uVJGC0Y2ZsPBcm8qo/9GC14od4B\\n\" +\n\"WgBjZ0jv3GqmG8zEJwIDAQAB\\n\" + \n\"-----END PUBLIC KEY-----\"\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":300,"wires":[["dced62a9.7f6a"]]},{"id":"dced62a9.7f6a","type":"function","z":"7f5d32fd.e690bc","name":"convert to wirte","func":"msg.payload = msg.payload[0][\"public_box\"]\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":300,"wires":[["a583b7c6.9c2ee8"]]},{"id":"a583b7c6.9c2ee8","type":"file","z":"7f5d32fd.e690bc","name":"write public","filename":"/home/identify_server/file/public_box","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1750,"y":300,"wires":[["ae6311ae.6d8da"]]},{"id":"ae6311ae.6d8da","type":"function","z":"7f5d32fd.e690bc","name":"response","func":"var now = new Date()\nvar str = \"\";\nfor ( ; str.length < 12; str += Math.random().toString( 36 ).substr(2));\nmsg.payload = {\n    \"timestamp\" :now.getTime(),\n    \"code\": str\n}\nmsg.packet.timestamp = msg.payload.timestamp\nmsg.packet.code = msg.payload.code\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":300,"wires":[["3e75cc6b.ec69e4","49550bb3.3de7d4"]]},{"id":"3e75cc6b.ec69e4","type":"file","z":"7f5d32fd.e690bc","name":"write response","filename":"/home/identify_server/file/response","appendNewline":false,"createDir":false,"overwriteFile":"true","x":2100,"y":300,"wires":[["44f67a68.6815f4"]]},{"id":"49550bb3.3de7d4","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1970,"y":220,"wires":[]},{"id":"44f67a68.6815f4","type":"exec","z":"7f5d32fd.e690bc","command":"sudo bash /home/identify_server/code/encrypt_response_base64.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"encrypt response","x":2290,"y":300,"wires":[["c23a2dd0.debad"],[],[]]},{"id":"b32e257d.6776a8","type":"file in","z":"7f5d32fd.e690bc","name":"response","filename":"/home/identify_server/file/encrypt_response_base64","format":"utf8","chunk":false,"sendError":false,"x":2760,"y":300,"wires":[["aab982bb.18934"]]},{"id":"aab982bb.18934","type":"function","z":"7f5d32fd.e690bc","name":"remove /n","func":"var find = '\\n';\nvar re = new RegExp(find, 'g');\nmsg.payload = msg.payload.replace(re, '');\nmsg.payload += '\\n'\nreturn msg;","outputs":1,"noerr":0,"x":2900,"y":300,"wires":[["9f3f880b.b1d448"]]},{"id":"712426d1.f5f7b8","type":"mqtt in","z":"7f5d32fd.e690bc","name":"","topic":"server_identify","qos":"2","broker":"ffc23883.858a48","x":100,"y":180,"wires":[["56bedf4e.cc54d"]]},{"id":"808b08b6.acf708","type":"function","z":"7f5d32fd.e690bc","name":"get content","func":"msg.payload = msg.packet.content\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["8e333656.291638"]]},{"id":"56bedf4e.cc54d","type":"json","z":"7f5d32fd.e690bc","name":"","property":"payload","action":"","pretty":false,"x":250,"y":100,"wires":[["94082b61.09e378","206371fe.831c1e"]]},{"id":"de619210.c9fc3","type":"mqtt out","z":"7f5d32fd.e690bc","name":"","topic":"","qos":"","retain":"","broker":"ffc23883.858a48","x":3190,"y":300,"wires":[]},{"id":"9f3f880b.b1d448","type":"function","z":"7f5d32fd.e690bc","name":"add topic","func":"msg.topic = msg.packet.machine_id\nreturn msg;","outputs":1,"noerr":0,"x":3060,"y":300,"wires":[["de619210.c9fc3","9e8b2f4d.c30aa"]]},{"id":"f20acfe0.86bc","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":60,"wires":[]},{"id":"120d2243.4a975e","type":"switch","z":"7f5d32fd.e690bc","name":"","property":"payload.unit","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":300,"wires":[["9a4e2f5f.94a6e"]]},{"id":"94082b61.09e378","type":"function","z":"7f5d32fd.e690bc","name":"query timestamp","func":"msg.packet = msg.payload\nvar out = \"Select timestamp, code FROM identify_log WHERE machine_id = '\" + msg.payload.machine_id +\"' ORDER BY unit DESC limit 1\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["deea6023.0d787"]]},{"id":"deea6023.0d787","type":"mysql","z":"7f5d32fd.e690bc","mydb":"b7654e0d.03fc1","name":"","x":590,"y":100,"wires":[["9574dea.8c5372"]]},{"id":"9574dea.8c5372","type":"switch","z":"7f5d32fd.e690bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":100,"wires":[["f20acfe0.86bc","808b08b6.acf708"],["53b7b3fd.1cda9c"]]},{"id":"366ee4f5.d0c33c","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":100,"wires":[]},{"id":"c23a2dd0.debad","type":"function","z":"7f5d32fd.e690bc","name":"insert ","func":"query = \"INSERT INTO `identify_log` (`machine_id`, `timestamp`, `code`) VALUES (?,?,?)\";\nmsg.payload = [msg.packet.machine_id, msg.packet.timestamp, msg.packet.code];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2450,"y":300,"wires":[["eb15fec0.54afd"]]},{"id":"eb15fec0.54afd","type":"mysql","z":"7f5d32fd.e690bc","mydb":"b7654e0d.03fc1","name":"","x":2590,"y":300,"wires":[["b32e257d.6776a8"]]},{"id":"9e8b2f4d.c30aa","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3170,"y":240,"wires":[]},{"id":"53b7b3fd.1cda9c","type":"function","z":"7f5d32fd.e690bc","name":"check time","func":"msg.packet.code = msg.payload[0][\"code\"]\nvar timestamp = msg.payload[0][\"timestamp\"]\nvar now = new Date()\nnow = now.getTime()\nmsg.payload = now - timestamp\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["becd4a91.918f18"]]},{"id":"becd4a91.918f18","type":"switch","z":"7f5d32fd.e690bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"5000","vt":"num"},{"t":"lt","v":"5000","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":140,"wires":[["808b08b6.acf708","366ee4f5.d0c33c"],["e926474f.502908","178a8f2d.d0db11"]]},{"id":"e926474f.502908","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":180,"wires":[]},{"id":"206371fe.831c1e","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":40,"wires":[]},{"id":"caae2dd1.e5b21","type":"file","z":"7f5d32fd.e690bc","name":"code decrypt 2","filename":"/home/identify_server/file/code_decrypt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1420,"y":140,"wires":[["52fa8411.aea75c"]]},{"id":"178a8f2d.d0db11","type":"function","z":"7f5d32fd.e690bc","name":"get code","func":"msg.payload = msg.packet.code\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":140,"wires":[["caae2dd1.e5b21","b8329275.85596"]]},{"id":"52fa8411.aea75c","type":"function","z":"7f5d32fd.e690bc","name":"get noi dung","func":"msg.payload = msg.packet.content\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":140,"wires":[["6f10058c.70cb4c","571378df.42ec78"]]},{"id":"6f10058c.70cb4c","type":"file","z":"7f5d32fd.e690bc","name":"write down packet 2","filename":"/home/identify_server/file/packet_2_encrypt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1800,"y":140,"wires":[["4acc833e.ebe95c"]]},{"id":"4acc833e.ebe95c","type":"exec","z":"7f5d32fd.e690bc","command":"sudo bash /home/identify_server/code/decrypt_packet_2.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"decrypt packet 2","x":2020,"y":140,"wires":[["ba1d9b97.e2ff38"],[],[]]},{"id":"ba1d9b97.e2ff38","type":"file in","z":"7f5d32fd.e690bc","name":"packet 2","filename":"/home/identify_server/file/packet_2","format":"utf8","chunk":false,"sendError":false,"x":2210,"y":140,"wires":[["7e2a8983.e20b38"]]},{"id":"b8329275.85596","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1440,"y":60,"wires":[]},{"id":"571378df.42ec78","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1740,"y":60,"wires":[]},{"id":"112c607e.826b5","type":"inject","z":"7f5d32fd.e690bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":440,"wires":[["d9186400.35b968","7ec70465.f69a6c"]]},{"id":"d9186400.35b968","type":"file in","z":"7f5d32fd.e690bc","name":"","filename":"/home/identify_server/file/code_decrypt","format":"utf8","chunk":false,"sendError":false,"x":510,"y":440,"wires":[["56b3f7bb.898ab8"]]},{"id":"56b3f7bb.898ab8","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":460,"wires":[]},{"id":"7ec70465.f69a6c","type":"file in","z":"7f5d32fd.e690bc","name":"","filename":"/home/identify_server/file/packet_2_encrypt","format":"utf8","chunk":false,"sendError":false,"x":510,"y":480,"wires":[["56b3f7bb.898ab8"]]},{"id":"7e2a8983.e20b38","type":"json","z":"7f5d32fd.e690bc","name":"","property":"payload","action":"","pretty":false,"x":2350,"y":140,"wires":[["5ffc050e.4274ac","36a19f27.95237","b6645385.c27a8","bdeb81ef.ddc02","d2974582.8f07e8","55d88700.abb198"]]},{"id":"5ffc050e.4274ac","type":"function","z":"7f5d32fd.e690bc","name":"","func":"msg.payload = msg.payload.data.device_id\nreturn msg;","outputs":1,"noerr":0,"x":2490,"y":20,"wires":[["4c845929.ffaea8"]]},{"id":"4c845929.ffaea8","type":"ui_text","z":"7f5d32fd.e690bc","group":"f63ed56d.d591f8","order":1,"width":0,"height":0,"name":"","label":"<B>ID Device: </B>","format":"{{msg.payload}}","layout":"row-spread","x":2650,"y":20,"wires":[]},{"id":"36a19f27.95237","type":"function","z":"7f5d32fd.e690bc","name":"","func":"msg.payload = msg.payload.data.payload.id_producer\nreturn msg;","outputs":1,"noerr":0,"x":2490,"y":60,"wires":[["97a00ead.dbd8f"]]},{"id":"b6645385.c27a8","type":"function","z":"7f5d32fd.e690bc","name":"","func":"msg.payload = msg.payload.data.payload.detail\nreturn msg;","outputs":1,"noerr":0,"x":2490,"y":100,"wires":[["cc279098.578f8"]]},{"id":"97a00ead.dbd8f","type":"ui_text","z":"7f5d32fd.e690bc","group":"f63ed56d.d591f8","order":1,"width":0,"height":0,"name":"","label":"<B>ID Producer: </B>","format":"{{msg.payload}}","layout":"row-spread","x":2660,"y":60,"wires":[]},{"id":"cc279098.578f8","type":"ui_text","z":"7f5d32fd.e690bc","group":"f63ed56d.d591f8","order":1,"width":0,"height":0,"name":"","label":"<B>Detail: </B>","format":"{{msg.payload}}","layout":"row-spread","x":2640,"y":100,"wires":[]},{"id":"bdeb81ef.ddc02","type":"function","z":"7f5d32fd.e690bc","name":"","func":"msg.payload = \"Verified OK\"\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":140,"wires":[["df4ee496.e03318"]]},{"id":"ec0042be.1e8dc","type":"ui_text","z":"7f5d32fd.e690bc","group":"f63ed56d.d591f8","order":1,"width":0,"height":0,"name":"","label":"<B>Procuder Authen: </B>","format":"{{msg.payload}}","layout":"row-spread","x":2980,"y":340,"wires":[]},{"id":"df4ee496.e03318","type":"ui_text","z":"7f5d32fd.e690bc","group":"f63ed56d.d591f8","order":1,"width":0,"height":0,"name":"","label":"<B>Device Authen: </B>","format":"{{msg.payload}}","layout":"row-spread","x":2690,"y":140,"wires":[]},{"id":"9daae690.04aa18","type":"function","z":"7f5d32fd.e690bc","name":"query timestamp","func":"msg.packet = msg.payload\nvar out = \"Select key_public FROM producer WHERE id_producer = '\" + msg.payload.data.payload.id_producer +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":2500,"y":200,"wires":[["2fca3ccb.4f1624"]]},{"id":"2fca3ccb.4f1624","type":"mysql","z":"7f5d32fd.e690bc","mydb":"b7654e0d.03fc1","name":"","x":2710,"y":220,"wires":[["de6affde.2e23c"]]},{"id":"d5a2c748.8f3e98","type":"ui_text","z":"7f5d32fd.e690bc","group":"f63ed56d.d591f8","order":1,"width":0,"height":0,"name":"","label":"<B>Result: </B>","format":"{{msg.payload}}","layout":"row-spread","x":3000,"y":440,"wires":[]},{"id":"97d057e0.2e80a8","type":"function","z":"6c8ed60b.239c48","name":"select private","func":"msg.packet = msg.payload\nvar out = \"Select private, public from `key` where user_id = '0366942492'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":700,"wires":[["97790007.c3ac1"]]},{"id":"97790007.c3ac1","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":570,"y":700,"wires":[["1454c79f.0680b8","349bf27d.ab7d0e"]]},{"id":"5aa3b847.b622a8","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":820,"wires":[]},{"id":"28ddc706.5e9028","type":"inject","z":"6c8ed60b.239c48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":720,"wires":[["97d057e0.2e80a8"]]},{"id":"5c15010f.252b6","type":"file","z":"6c8ed60b.239c48","name":"private","filename":"/home/identify_server/key/private","appendNewline":false,"createDir":false,"overwriteFile":"true","x":850,"y":780,"wires":[["5aa3b847.b622a8"]]},{"id":"1454c79f.0680b8","type":"function","z":"6c8ed60b.239c48","name":"","func":"msg.payload = msg.payload[0][\"private\"]\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":740,"wires":[["5c15010f.252b6"]]},{"id":"349bf27d.ab7d0e","type":"function","z":"6c8ed60b.239c48","name":"","func":"msg.payload = msg.payload[0][\"public\"]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["90a16555.932638"]]},{"id":"90a16555.932638","type":"file","z":"6c8ed60b.239c48","name":"public","filename":"/home/identify_server/key/public","appendNewline":false,"createDir":false,"overwriteFile":"true","x":810,"y":840,"wires":[["5aa3b847.b622a8"]]},{"id":"9bc2b7a4.6cb6f8","type":"inject","z":"6c8ed60b.239c48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":860,"wires":[["4c9e5288.823b3c"]]},{"id":"4c9e5288.823b3c","type":"file in","z":"6c8ed60b.239c48","name":"","filename":"/home/identify_server/key/signatureBase64","format":"utf8","chunk":false,"sendError":false,"x":480,"y":860,"wires":[["5289c50e.c89f6c"]]},{"id":"5289c50e.c89f6c","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":880,"wires":[]},{"id":"de6affde.2e23c","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2970,"y":220,"wires":[]},{"id":"9ef25239.cfc08","type":"file","z":"7f5d32fd.e690bc","name":"base64","filename":"/home/identify_server/key/signatureBase64","appendNewline":false,"createDir":false,"overwriteFile":"true","x":2590,"y":260,"wires":[["f99191c6.18e15","d3faa43d.a747a8"]]},{"id":"d2974582.8f07e8","type":"function","z":"7f5d32fd.e690bc","name":"wirte payload sig","func":"msg.payload = msg.payload.data.sig_payload\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":240,"wires":[["9ef25239.cfc08","59e4b1a9.74a7c"]]},{"id":"f99191c6.18e15","type":"exec","z":"7f5d32fd.e690bc","command":"bash /home/identify_server/code/verify_producer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"verify","x":2890,"y":160,"wires":[["81cf4da0.46ad2"],[],[]]},{"id":"d3faa43d.a747a8","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2780,"y":420,"wires":[]},{"id":"59e4b1a9.74a7c","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2420,"y":400,"wires":[]},{"id":"55d88700.abb198","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2300,"y":80,"wires":[]},{"id":"6beda50d.2827ec","type":"debug","z":"7f5d32fd.e690bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3170,"y":60,"wires":[]},{"id":"81cf4da0.46ad2","type":"function","z":"7f5d32fd.e690bc","name":"","func":"if (msg.payload === \"Verified OK\\n\")\n    msg.result = 1\nelse \n    msg.payload = \"Verified fail\"\nreturn msg;","outputs":1,"noerr":0,"x":3030,"y":120,"wires":[["6beda50d.2827ec","d5a2c748.8f3e98","ec0042be.1e8dc"]]},{"id":"549953c2.bd56dc","type":"inject","z":"7f5d32fd.e690bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2860,"y":60,"wires":[["e64ea83e.c92338"]]},{"id":"e64ea83e.c92338","type":"function","z":"7f5d32fd.e690bc","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":3040,"y":60,"wires":[["4c845929.ffaea8","97a00ead.dbd8f","cc279098.578f8","df4ee496.e03318","ec0042be.1e8dc","d5a2c748.8f3e98"]]}]